source: "./example/uat" # Source folder, mandatory
destination: "./example/prod" # Destination folder, mandatory

include: # Files to process, if not set, all YAML files are processed, other files are copied as-is, default: all files
  - "**/*.yaml"
  - "**/README.md"
exclude: # Files to exclude from processing, default: none
  - "**/skip*.yaml"
prune: true # Remove files in dest that are not in source, default: false

skipPath: # JSON paths to skip during processing for specific files, default: none = process all paths
  "apps/*.yaml":
    - "apiVersion"
    - "spec.destination.namespace"
    - "spec.ignoreDifferences[*].kind" # JSONPath-style for nested values
    - "spec.ignoreDifferences[*].jsonPointers" # JSONPath-style for nested values

  "svc/**/Chart.yaml":
    - "annotations.createdAt"
    - "annotations.lastModified"

  "svc/**/values.yaml":
    - "annotations.createdAt"
    - "annotations.lastModified"

outputFormat: # Output formatting options
  indent: 2 # YAML indent size, default: 2
  quoteValues: true # Only values (right side of `:`) are double-quoted, default: true

# transforms:
#   "database.url":
#     - find: "uat-db\\.(.*)"
#       replace: "prod-db.$1"
#   "$.secrets[*].password":
#     - find: "uat-redis"
#       replace: "prod-redis"

orders: # Key orders for specific result yaml files, default: none = alphabetical order
  "apps/*.yaml":
    - "apiVersion"
    - "kind"
    - "metaadata.namespace"
    - "metaadata.name"
    - "spec.project"
    - "spec.source"
    - "spec.destination"

  "svc/**/Chart.yaml":
    - "xxx"

  "svc/**/values.yaml":
    - "xxx"

stopRules: # Rules to block running operations, default: none = allow all changes
  "apps/*.yaml":
    - type: "semverMajor"
      path: "version" # Block major SemVer bumps in chart.yaml

  "svc/**/Chart.yaml":
    - type: "semverMajor"
      path: "image.tag" # Block major SemVer bump of image tag
    - type: "numeric"
      path: "replicaCount"
      min: 2 # Reject scaling to <2 replicas
      max: 10 # Reject scaling above 10

  "svc/**/values.yaml":
    - type: "semverMajor"
      path: "image.tag" # Block major SemVer bump of image tag
    - type: "numeric"
      path: "replicaCount"
      min: 2 # Reject scaling to <2 replicas
      max: 10 # Reject scaling above 10
