name: DEV pipeline

on:
  push:
    branches-ignore:
      - main

concurrency:
  group: dev-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    uses: ./.github/workflows/check.yaml
    with:
      upload-artifacts: false
