name: Release pipeline

on:
  push:
    branches:
      - main

permissions:
  contents: write

concurrency:
  group: release-${{ github.ref }}
  cancel-in-progress: false

jobs:
  check:
    uses: ./.github/workflows/check.yaml
    with:
      upload-artifacts: true

  tag:
    name: Version tag
    needs: [check]
    runs-on: ubuntu-latest
    outputs:
      status: ${{ steps.create_tag.outputs.successful }}
      version: ${{ steps.create_tag.outputs.version }}

    steps:
      - uses: actions/checkout@v4

      - uses: jaywcjlove/create-tag-action@main
        id: create_tag
        with:
          package-path: ./package.json
          release: true

  package:
    name: Publish NPM package
    needs: [check, tag]
    if: needs.tag.outputs.status == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Download Build Artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts-node-22.x
          path: dist/

      - uses: actions/setup-node@v4
        with:
          node-version: '22'
          registry-url: 'https://registry.npmjs.org'

      - name: Publish
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
